.App {
  text-align: center;
}

.label-lokasi p{
	text-align:left;
	font-size: 10px;
	color:grey;
	margin-top: 4px;
	margin-bottom: 2px;
	margin-left: 23px;
}
.lokasi p{
	text-align:left;
	font-weight: bold;
	margin-top: 1px;
	font-size: 15px;
	margin-left: 20px;
}

p {
	font-family: proxima-nova, sans-serif;
	font-style: normal;
	font-weight: 100;

}
button:hover {
	background:grey;
	color :white;
}
button:active {
	background:grey;
	color :white;
}
button:focus {
	background:grey;
	color :white;
	outline:none;
  }
  .flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.flex-container {
	align-items:center;
	display: flex;
	flex-direction: column;

  }
.modaltitle{
	display: flex;
	flex-wrap: ;
	justify-content: space-between;
}

.card {
	display: grid;
	grid-template-columns: 300px;
	grid-template-rows: 200px 200px ;
	grid-template-areas: "image" "text" "btn" ;
	border-radius: 18px;
	background: white;
	box-shadow: 0px 8px 10px rgba(10, 31, 68, 0.1);
	font-family: roboto;
	
	
	margin:16px;
  } 
  .card-text{
	 text-align: left;
	 padding-left: 16px;
	 


  }
  .card-text p{
	font-size: small;
	color: grey;

  }
  .card-btn{
	  grid-area: btn;

	  margin-right:15px;
	  margin-bottom: 2px;
      
      float: right;
    
  }
 
  .btn{
	background:#f9234a;
	border-radius: 5px;
	margin: 1px;
	border: 0.5px white;
	padding:4px 20px;
	color: white;
	align-items:center;
  }
  .card-image01 {
	grid-area: image;
	background: url("img01.jpg");
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	background-size: cover;
  }
  .card-image02 {
	grid-area: image;
	background: url("img02.jpg");
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	background-size: cover;
  }
  .card-image03 {
	grid-area: image;
	background: url("img03.jpg");
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	background-size: cover;
  }
  .card-image04 {
	grid-area: image;
	background: url("img04.jpg");
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	background-size: cover;
  }
  .card-image05 {
	grid-area: image;
	background: url("img05.jpg");
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	background-size: cover;
  }

  .calendar{
    position: sticky;
    top: 0;
    width: 100%;
	background-color: white;
	
	}
	.Modal {
		position:fixed;
		top: 150px;
		left: 0px;
		right: 0px;
		bottom: 0px;
		background-color:white;
		overflow: hidden;
		outline:none;
	  }
	.Overlay {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: rgba(0, 0, 0, 0.3);
	  }
.content-modal h3 {

	margin-left:25px;
	color: #424749 ;
	margin-top:50px;
	font-family: proxima-nova, sans-serif;
	

}
.addtocart {

	position:fixed;
	top: 500px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	border-radius: 10px;
	background-color:#a23530;
	outline:none;
	

}
input{
	margin-left:40px ;
	padding:10px 60px;
	

	
}
.content-cart p{

	margin-left:30px;
	color:white;
	font-size: 18px;
	font-family: proxima-nova, sans-serif;
	
	


}
.OverlayCart{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: transparent;
}
	

 
  